<div class="not-page">
  <div class="notification" *ngIf="notifictions.length > 0">
    <div [ngClass]="{'is-read': !not.isRead}" class="users" *ngFor="let not of notifictions">
        <a [routerLink]="[ '/user/post', not._id ]">
        <p class="post-user">
          <img src="{{_services.url}}/{{not.userImage}}" alt="{{not.username}}"> <strong> {{not.username | titlecase }}</strong> {{not.body}}
        </p>
        <p class="date text-right">{{not.createdAt  | date:'MMM d, y, h:mm:ss a'}}</p>
      </a>
    </div>
  </div>
  <a (click)="getMoreNotfiction(notifictions.length)" *ngIf="notifictions.length < notLength">See More</a>
</div>

