<div class="home">
    <mat-grid-list cols="4" rowHeight="100vh">
            <mat-grid-tile [colspan]='3'>
                <form class="post-form" (submit)='addNewPost(user, newPost)'>
                    <mat-form-field>
                        <textarea name='newPost' [(ngModel)]="newPost" matInput placeholder="post"></textarea>
                    </mat-form-field>
                    <div class="text-right">
                        <button mat-raised-button color='primary' >post</button>
                    </div>
                </form>
               <app-post [user]='user'></app-post>
            </mat-grid-tile>
            <mat-grid-tile [colspan]='1'>
                <div class="search">
                    <mat-form-field>
                        <input (keyup)='findFrind()' [(ngModel)]="frindName" name="name" matInput placeholder="find user">
                        <mat-icon matSuffix (click)="findFrind()">search</mat-icon>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
    </mat-grid-list>
</div>