<div class="home">
    <mat-grid-list cols="4" rowHeight="90vh">
            <mat-grid-tile [colspan]='colSpan'>
                <form class="post-form" (submit)='addNewPost(user, newPost)'>
                    <mat-form-field>
                        <textarea name='newPost' class="ta" [(ngModel)]="newPost" matInput placeholder="post"></textarea>
                    </mat-form-field>
                    <div class="text-right">
                        <button mat-raised-button color='primary' >post</button>
                    </div>
                </form>
               <app-post [user]='user'></app-post>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="bigScreen" [colspan]='1'>
                <div class="search">
                    <mat-form-field>
                        <input autocomplete="off" (keyup)='findFrind()' [(ngModel)]="frindName" name="name" matInput placeholder="find user">
                        <mat-icon matSuffix (click)="findFrind()">search</mat-icon>
                    </mat-form-field>
                    <div class="users" *ngIf="users.length >= 1">
                        <div class="users" *ngFor="let friend of users">
                            <p class="post-user">
                                <a [routerLink]="[ '/user/profile', friend._id ]">
                                    <img src="{{_services.url}}/{{friend.image}}" alt="{{friend.username}}"> {{friend.username | titlecase }}
                                </a>
                            </p>
                            <p class="text-right">
                                <button *ngIf="!friend.isFriend && !friend.isFriendRequest && !friend.isHold" mat-raised-button (click)='addToFrinds(friend)'><mat-icon>group_add</mat-icon></button>
                                <button *ngIf="friend.isFriend" mat-raised-button color='warn' (click)="unfriendUser(friend)">unfriend<mat-icon>delete</mat-icon></button>
                                <button *ngIf="friend.isFriendRequest" mat-raised-button (click)="acceptFrindRequst(friend)">Accept</button>
                                <button *ngIf="friend.isHold" mat-raised-button (click)="cansleFriendRequst(friend)">cansle</button>
                                <button *ngIf="friend.isFriendRequest" mat-raised-button (click)="ignoreFriendRequest(friend)">ignore</button>
                            </p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
    </mat-grid-list>
</div>
