@import '../../../../assets/scss/color';
@import '../../../../assets/scss/sheard';
.home{
    padding-top: 30px;
    margin: auto;
    .post-form{
        width: 80%;
        mat-form-field{
            width: 100%;
            textarea{
                width:100%;

            }
        }
    }
    .search{
        width:100%;

        mat-form-field{
            width:100%;
            input{
                width:100%;
            }
        }
    }

}