<div class="register">
    <mat-grid-list cols="1" rowHeight="670px">
        <mat-grid-tile>
  <form class="example-form" (submit)='onRegisterSubmit()'>
      <div class="container-avatar-image">
          <span class="avatar-span">
              <img  id="uplode_image" [src]="imagesURL" alt="imagesURL">	
          </span>
        </div>

        <div class="container-avatar-image" style="height: 50px;">
            <span class="select-image" >select image</span>
            <input id="photo" type="file" accept=".png, .jpg, .jpeg" (change)='onChange($event.target.files)' /> 
        </div>
            <div class="example-container">
              <mat-form-field>
                <input name="username" matInput placeholder="username"
                [formControl]="username"
                         [errorStateMatcher]="matcher">
                <mat-error *ngIf="username.hasError('required')">
                  username is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input name="email" matInput placeholder="Email" [formControl]="email"
                         [errorStateMatcher]="matcher">
                  <mat-hint>Errors appear instantly!</mat-hint>
                  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              <mat-form-field>
                <input name="password" matInput placeholder="Password" [type]="'hide' ? 'password' : 'text'" [formControl]="password"
                [errorStateMatcher]="matcher">
                <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <input name="rePassword" matInput placeholder="Re Password" [type]="'hide' ? 'password' : 'text'" [formControl]="rePassword"
                  [errorStateMatcher]="matcher">
                  <mat-error *ngIf="rePassword.hasError('required')">
                      Re Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input name="dateOfBirth" matInput [matDatepicker]="picker" placeholder="5/5/2005" [formControl]="dateOfBirth"
                  [errorStateMatcher]="matcher">
                  <mat-error *ngIf="dateOfBirth.hasError('required')">
                       Date of birth is <strong>required</strong>
                    </mat-error>
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              <div class="text-right">
                <button mat-raised-button color="primary" type="submit">Register</button>  
              </div>
              <!-- <button mat-raised-button (click)="onRegisterByGoogle()">
                Register By Google
              </button>  -->
              <p class="text-right">
                  <a  [routerLink]="[ '/login']">login</a>
              </p>
          </div>
        </form>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
