@import '../../../../assets/scss/color';
@import '../../../../assets/scss/sheard';

.post{
    margin: 130px auto;
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $darkColor;
    @extend %user_post;
    .comment{
        margin-left: 30px;
        @extend %user_post;
        .replay{
            margin-left: 40px;
            @extend %user_post;
        }
    
    }
    .edit-form{
        @extend %form;
    }
    .edit-icon{
        mat-icon:first-of-type{
            cursor: pointer;
            color: $darkColor;
            font-size: 18px;
        }
        mat-icon:last-of-type{
            color: red;
            cursor: pointer;
        }
    }
}   
.h1-cantfind{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
@media(max-width: 778px){
    margin-top: 130px;

}