@import './color';
%p_notification{
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    a{
        color: $darkColor;
    }

}
%user_containr{
    a{
        color: $lightColor;
        font-size: 16px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 5px $darkColor;
        }
    }

}