<nav>
  <div class="right-side">
    <h2 *ngIf="user" >YODA 
      <a [routerLink]="[ '/user']">
        <img class="username" src="{{url}}/{{user.image}}" alt="{{user.username}} image">
        <span class="username">{{user.username}}</span> 
      </a>
    </h2>
  </div>
  <div class="d-lg-none ul">
    <span>
      <a (click)="goToHome()">
        <i class="d-lg">home </i>
        <mat-icon>home</mat-icon> 
      </a>
    </span>
    <span (click)="toggleNotifications()">
        <i class="d-lg">notifications </i> <mat-icon>notifications</mat-icon>
        <i *ngIf="notLength > 0">{{notLength}}</i>
    </span>
    <!-- <span (click)="toggleMessages()">
        <i class="d-lg">messages</i>  
        <mat-icon>message</mat-icon> 
    </span>  -->
    <span (click)="toggleFriendsRequst()">
        <i class="d-lg">friends requst</i>  
        <mat-icon>group</mat-icon>
        <i *ngIf="friendsLength > 0">{{friendsLength}}</i>
      </span>
    <span (click)='logout()'>
      <i class="d-lg">logout </i>  
      <mat-icon>logout</mat-icon>
    </span> 
  </div>
  <!-- <div class="clear-fix"></div> -->

  <div class="d-sm-none ul">
      <span>
        <a [routerLink]="[ '/user']">
          <mat-icon>home</mat-icon>
        </a>
      </span>
      <span>
        <a [routerLink]="[ '/user/notifications']">
          <mat-icon>notifications</mat-icon>
          <i *ngIf="notLength > 0">{{notLength}}</i>
        </a>
      </span>
      <!-- <span>
          <a [routerLink]="[ '/user/messages']">
            <mat-icon>message</mat-icon>
          </a>
        </span>  -->
      <span>
        <a [routerLink]="[ '/user/friends-requsts']">
          <mat-icon>group</mat-icon>
          <i *ngIf="friendsLength > 0">{{friendsLength}}</i>
        </a>
      </span>
      <span (click)='logout()'>
        <mat-icon>logout</mat-icon>
      </span> 
    </div>
    <div class="clear-fix"></div>
  <div  [@openClose]="isNotifications ? 'in' : 'out'"  class="notifications">
    <mat-icon (click)="close($event)">close</mat-icon>
    <div class="notification" *ngIf="notifictions.length > 0">
      <div [ngClass]="{'is-read': not.isRead == fales}" class="users" *ngFor="let not of notifictions">
          <a [routerLink]="[ '/user/post', not._id ]">
          <p class="post-user">
                  <img src="{{_services.url}}/{{not.userImage}}" alt="{{not.username}}"> {{not.username | titlecase }}
          </p>
          <p>
            {{not.body}}
          </p>
          <p class="date text-right">{{not.createdAt  | date:'MMM d, y, h:mm:ss a'}}</p>
        </a>
      </div>
  </div>
  </div>
  <div [@openClose]="isMessages ? 'in' : 'out'" class="messages">
      <mat-icon (click)="close($event)">close</mat-icon>
      <div class="notification">
          <p>
            <a [routerLink]="[ '/path', routeParam ]">
              <img src="../../../assets/images/yoda.png" alt=""> Ahmed Diab
            </a> 
          </p>
          <p>
            <a [routerLink]="[ '/path', routeParam ]">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, aperiam.
            </a> 
          </p>
        </div>
  </div>
  <div [@openClose]="isFriendsRequst ? 'in' : 'out'" class="friends-requst">
      <mat-icon (click)="close($event)">close</mat-icon>
      <div class="notification" *ngIf="friendsRequsts.length > 0;else zeroRequst">
          <div class="users" *ngFor="let friend of friendsRequsts">
              <p class="post-user">
                  <a [routerLink]="[ '/user/profile', friend._id ]">
                      <img src="{{_services.url}}/{{friend.image}}" alt="{{friend.username}}"> {{friend.username | titlecase }}
                  </a>
              </p>
              <p class="text-right">
                  <button mat-raised-button (click)="acceptFrindRequst(friend)">Accept</button>
                  <button mat-raised-button (click)="ignoreFriendRequest(friend)">ignore</button>
              </p>
          </div>
      </div>

      <ng-template #zeroRequst>
          <h3 class="zero-request">you don't have requst yet</h3>          
      </ng-template>
      </div>
</nav>
