@import '../../../assets/scss/color';
@import '../../../assets/scss/sheard';

.d-sm-none, .d-lg-none{
    display: none;
}
nav{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: +5000000;
    background-color: $darkColor;
    color: $lightColor;
    overflow: hidden !important;
    .right-side{
        width: 30%;
        float: left;
        @extend %user_containr;
        .username{
            display: inline-block;
        }
    }
    .ul{
        width: 70%;
        height: 100%;
        float: left;
        list-style: none;
        text-align: right;
        span{
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            line-height: 40px;

        }
        a{
            color:$lightColor !important;
        }
        .d-lg{
            float: left;
            display: none;
        }

    @media(min-width:992px){
        .d-lg{
            display: block
        }
    }

    }
    .notifications, .messages, .friends-requst{
        overflow: auto;
        background: $lightColor;
        color: $darkColor;
        position: fixed;
        z-index: +1000;
        top: 86px;
        bottom: 0;
        padding: 5px 20px;
        background-color: rgba($darkColor, .5);
        right: 0px;
        transform: translateX(-50%);

        mat-icon{
            float: right;
            cursor: pointer;
            color: red;
        }
        .notification{
            padding: 25px 10px;
            @extend %p_notification;
            p{
                text-align: left;
                color: $lightColor;
                padding: 5px 10px;
            }

            .users{
                margin-top: 10px;
                background-color: rgba($darkColor, .2);
                .post-user{
                    padding-top: 15px;
                    font-size: 12px;

                }
                a{
                    color: $lightColor;
    
                }
            }
        }
        .zero-request{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            padding: 10px;
        }
    }

}
@media(max-width:992px){
    .notifications, .messages, .friends-requst{
        right: 26px !important;
        &::before{
            display: none;
        }
    }
    .right-side{
        width: 40%;
    }
    .ul{
        width: 60%;
    }
}
@media(max-width:778px){
    nav{
        padding: 10px;
    .right-side{
        width: 30%;
        .username{
            display: none;
        }
    }
    .ul{
        width: 70%;
        mat-icon{
            font-size: 18px;
            width: 18px;
            height: 18px;
        }
    }
    .d-sm-none{
        display: block;
    }
    .notifications, .messages, .friends-requst{
        display: none;
    }
}
}

@media(min-width:778px){
    .d-lg-none{
        display: block;
    }
    .username{
        display: none;
    }
}

.is-read{
    p{
        color: $darkColor !important;
    }
    background-color: $lightColor !important;
}