<nav>
  <div class="right-side">
    <h2>YODA</h2>
  </div>
  <ul class="d-lg-none">
    <li>
      <a [routerLink]="[ '/user']">
        <span class="d-lg">home</span> <mat-icon>home</mat-icon>
        <div class="clear-fix"></div>
      </a>
    </li>
    <li (click)="toggleNotifications()">
      <span class="d-lg">notifications</span> <mat-icon>notifications</mat-icon>
      <div class="clear-fix"></div>
    </li>
    <li (click)="toggleMessages()">
      <span class="d-lg">messages</span> <mat-icon>message</mat-icon>
      <div class="clear-fix"></div>
    </li> 
    <li (click)="toggleFriendsRequst()">
      <span class="d-lg">friends requst</span> <mat-icon>group</mat-icon>
      <div class="clear-fix"></div>
    </li>
    <li (click)='logout()'>
      <span class="d-lg">logout</span> <mat-icon>logout</mat-icon>
      <div class="clear-fix"></div>
    </li> 
  </ul>
  <ul class="d-sm-none">
      <li>
        <a [routerLink]="[ '/home', routeParam ]">
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li>
        <a [routerLink]="[ '/user/Notifications']">
          <mat-icon>notifications</mat-icon>
        </a>
      </li>
      <li>
          <a [routerLink]="[ '/user/Notifications']">
            <mat-icon>message</mat-icon>
          </a>
      </li> 
      <li>
        <a [routerLink]="[ '/user/Notifications']">
          <mat-icon>group</mat-icon>
        </a>
      </li>
      <li (click)='logout()'>
        <mat-icon>logout</mat-icon>
      </li> 
    </ul>
    
  <div class="clear-fix"></div>
  <div  [@openClose]="isNotifications ? 'in' : 'out'"  class="notifications">
    <mat-icon (click)="close($event)">close</mat-icon>
    <div class="notification">
        <p>
          <a [routerLink]="[ '/path', routeParam ]">
            <img src="../../../assets/images/yoda.png" alt=""> Ahmed Diab
          </a> 
        </p>
        <p>
          <a [routerLink]="[ '/path', routeParam ]">
            Lorem ipsum dolor
          </a> 
        </p>
      </div>
  </div>
  <div [@openClose]="isMessages ? 'in' : 'out'" class="messages">
      <mat-icon (click)="close($event)">close</mat-icon>
      <div class="notification">
          <p>
            <a [routerLink]="[ '/path', routeParam ]">
              <img src="../../../assets/images/yoda.png" alt=""> Ahmed Diab
            </a> 
          </p>
          <p>
            <a [routerLink]="[ '/path', routeParam ]">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, aperiam.
            </a> 
          </p>
        </div>
  </div>
  <div [@openClose]="isFriendsRequst ? 'in' : 'out'" class="friends-requst">
      <mat-icon (click)="close($event)">close</mat-icon>
      <div class="notification">
        <p>
          <a [routerLink]="[ '/path', routeParam ]">
            <img src="../../../assets/images/yoda.png" alt=""> Ahmed Diab
          </a> 
        </p>
        <p>
          <a [routerLink]="[ '/path', routeParam ]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, aperiam.
          </a> 
        </p>
      </div>
  </div>
</nav>
