@import '../../../assets/scss/color';
@import '../../../assets/scss/sheard';

.d-sm-none, .d-lg-none{
    display: none;
}
nav{
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: +5000000;
    background-color: $darkColor;
    color: $lightColor;
    overflow: hidden !important;
    .right-side{
        width: 20%;
        float: left;
        height: 100%;
    }
    ul{
        width: 80%;
        height: 100%;
        float: left;
        list-style: none;
        text-align: right;
        li{
            text-align: left;
            display: inline-block;
            padding: 5px;
            margin-right: 10px;
            height: 100%;
            cursor: pointer;
            mat-icon{
                float: left;
            }

            .d-lg{
                float: left;
                display: none;
                line-height: 30px;
                text-transform: capitalize;
            }

            @media(min-width:992px){
                .d-lg{
                    display: block
                }
            }
        }

    }
    .notifications, .messages, .friends-requst{
        width: 300px;
        overflow: auto;
        background: $lightColor;
        color: $darkColor;
        position: fixed;
        z-index: +1000;
        top: 83px;
        bottom: 0;
        right: 0%;
        padding: 5px 20px;
        mat-icon{
            float: right;
            cursor: pointer;
        }
        .notification{
            padding: 25px 10px;
            @extend %p_notification;

        }
    }

    @media(max-width:992px){
        .notifications, .messages, .friends-requst{
            right: 26px !important;
            &::before{
                display: none;
            }
        }
    }
    @media(max-width:778px){
        .d-sm-none{
            display: block;
        }
        .notifications, .messages, .friends-requst{
            display: none;
        }
    }
    @media(min-width:778px){
        .d-lg-none{
            display: block;
        }
    }

}
