/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden
}



// globale classee
.text-right{
    text-align: right;
    padding-top: 15px;

    a{
    }
}
.clear-fix{
    clear: both;
}
.d-none{
    display: none;
}
.container{
    width: 80%;
    margin: 70px auto;
}

a{
    text-decoration: none;
}

@media(max-width:578px){
    .contanir{
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width:578px){
    .contanir{
        width: 100%;
        margin: 0 auto;
    }   
}
