<div class="post" *ngFor="let post of posts" >
    <p class="post-user">
        <a [routerLink]="[ '/user/profile', post.userId ]">
            <img src="{{url}}/{{post.userImage}}" alt="{{post.username}}"> {{post.username | titlecase }}
        </a>
    </p>
    <p class="post-body">{{post.body}}</p>
    <p class="post-date text-right">
        {{post.createdAt | date:'MMM d, y, h:mm:ss a'}}
    </p>

    <app-comment [comments]='post.comment' [user]='user' [url]='url'></app-comment>

    <form class="comment-form" (submit)='addComment(post._id, user.username, user._id, user.image)'>
            <mat-form-field>
                <textarea name='newComment' [(ngModel)]="newComment" matInput placeholder="comment"></textarea>
            </mat-form-field>
            <div class="text-right">
                <button mat-raised-button color='primary' >comment</button>
            </div>
    </form>
    <p *ngIf="post.commentsLength > 1" class="text-right" >
        <span (click)='seeMoreComment(post._id)' class="see-more">
            see comments
        </span> 
    </p>
</div>
